# For each year, my user-specific inputs go in the _inputs/ directory.
# Example inputs from the website go in the _tests/ directory.
/*/_inputs

# Julia solutions are tested and benchmarked on big inputs.
/*/_bigboys
